[2016-03-18 11:40] Mubashshir opened #1 "Width and Height of SVG"
width and height property of svg element is not working.

[2016-03-18 16:15] czeckd commented on #1
Are you setting the height/width on the svg-icon element itself? That may be where the problem is. It works when you set it on a container for the svg. Here's an example:

`<div style="width:75px;fill:rgb(120,120,120);">`
`<svg-icon src="images/eye.svg">`
 `</svg-icon></div>`

You could set the fill as a style on `<svg-icon>`, for example, but height and width would still need to be set on the `di

[2016-03-21 07:51] Mubashshir commented on #1
Thanks @czeckd
Actually i was setting the width and height on the svg-icon itself

[2016-03-21 09:11] #1 closed, assigned to nobody

[2017-08-08 14:02] IvRRimum opened #24 "Aren't able to set style for the svg"
Hey,

Thanks for the awesome lib!
But i ran in to an issue, when trying to style my svg's.

This is how i render it in my template:
[code]

This is my css:
[code]
None of these approaches lets me edit style of my svg's.

I am on newest angular, etc.
Any ideas?

[2017-08-08 15:11] IvRRimum commented on #24
hmm... If i put the styling in inline css it works, as soon as i add it to my components css file it doesn't work anymore ://

[2017-08-08 15:52] czeckd commented on #24
Can share your svg please? I'll take a look at what is going on.

[2017-08-08 17:51] ProfitWarning commented on #24
Hi,
if you want to style the markup of the svg like changing a path's fill color e.g you use it in a template of another component, you need to use something like this
`.star-icon {
  /deep/ path {
    fill: #9b9b9b;
  }
}`
but `/deep/` is deprecated? I think` ::ng-deep` is the alternative?
https://angular.io/guide/component-styles
https://github.com/angular/angular/issues/17867

[2017-08-15 13:27] rknbgl opened #25 "Unload previous svg"
If I try render icons in a for cycle trough this module, icon be the same as first.

code: <code>&lt;li *ngFor="let item of items"&gt;&lt;svg-icon src="{{'assets/img/Icons/' + item.image}}"&gt;&lt;/svg-icon&gt;&lt;/li&gt;</code>

![loaded](https://user-images.githubusercontent.com/13220436/29317886-3ce09258-81ce-11e7-961b-652fe6d50441.png)
![menu](https://user-images.githubusercontent.com/13220436

[2017-08-16 04:47] czeckd commented on #25
Using the demo as a framework, I've not been able to reproduce what you are seeing. I've tried in Chrome, Firefox, and Safari.

HTML:
[code]
Typescript:
[code]

[2017-08-23 14:17] IvRRimum opened #26 "Dynamically changing src not detected"
[code]

in .ts
[code]

Even tho onclick event is fired, the new SVG is not loading/working..

[2017-08-23 14:19] IvRRimum commented on #24
Created global.css file and included straight into index.html

That way the svg's work.

[2017-08-23 14:19] #24 closed, assigned to nobody

[2017-08-23 15:28] IvRRimum commented on #26
Just tryed to clone this repo and make a build.. It ain't work that way either..

[2017-08-23 22:13] ProfitWarning commented on #26
`"/images/path.jpg"`
Are you trying to load a jpg? Only svg images can be loaded.

[2017-08-23 22:20] czeckd commented on #26
I see the issue. I'll make a new release to handle your use case.

[2017-08-24 02:54] czeckd commented on #26
Added code to support `ngOnChanges` to detect when the `src` is changed.

Version 4.2.5 has this change in it.

[2017-08-24 02:54] #26 closed, assigned to czeckd

[2017-08-31 13:52] IvRRimum commented on #26
Works like a charm, thank you!

[2017-09-16 03:05] czeckd commented on #25
Unreproducable.

[2017-09-16 03:05] #25 closed, assigned to nobody

[2017-11-06 12:22] NathanMol opened #29 "Height does not seem to work"
I was trying to set he height property on the svg-icon element, but it is not working. Only width seems to be supported. It would be very usefull if height is also supported. In case both height and width are defined, the icon could be scaled.

[2017-11-07 21:06] raphaelM-sudo commented on #29
It seems angular-svg-icon does not override the height and width attributes if they are already defined inside the .svg-file. So you probably have to remove those attributes inside the file in order to set them via css or styles.

[2017-11-09 05:46] czeckd commented on #29
Read Sara Soueidan's article "[Making SVGs Responsive with CSS](https://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/)" for tips on making SVGs play nicely with CSS. The main goal of angular-svg-icon is to inline the svg. It does not alter the svg itself.

[2017-11-17 19:58] HerrEmil opened #30 "Angular 5 peer dependency?"
Could ` || ^5.0.0` be added to the `@angular/core` and `@angular/http` peer dependencies?

[2017-11-18 00:11] czeckd commented on #30
Yes!

[2017-11-18 09:30] czeckd commented on #30
Added the ng5 peer dependencies in v4.2.6. I'll switch from Http to HttpClient in v5.0.0 in a few days. Thanks.

[2017-11-18 12:03] HerrEmil commented on #30
Awesome :)

[2017-12-03 07:48] czeckd commented on #30
v5.0.0 is out with HttpClient.

[2017-12-03 07:48] #30 closed, assigned to czeckd

[2017-12-19 17:59] rafaelbiten opened #35 "src not accepting absolute paths?"
Update: Yes, I was doing something wrong, so please ignore this one...

First of all, thanks for the nice module!

Now, I just updated `angular-svg-icon` to the latest version and now some of my svg icons won't load anymore because their src are absolute paths and `angular-svg-icon` is prepending the root of the project to it.

Am I doing something wrong?
Tks!

[2017-12-19 18:11] #35 closed, assigned to nobody

[2018-02-27 10:14] TeodorKolev commented on #35
Why
[code]
First one not working but second one works?

[2018-02-27 11:24] czeckd commented on #35
No idea, but possibly because http://my-server cannot be found.

[2018-03-19 14:41] laura-richer opened #36 "Mouseover alt text"
When you mouse over the SVG icon the alt text reads `combined shape` is there any way to override this?

[2018-03-19 22:50] czeckd commented on #36
I've not been able to reproduce this. Can you provide a svg that is doing this and state which browser you are using to see this?

[2018-03-20 10:24] laura-richer commented on #36
Hi, sorry, yeah its in Chrome and I am implementing the svg as follows...
`<svg-icon src="./assets/img/icons/compass.svg" am-compass="icon"></svg-icon>`

[2018-03-20 16:07] RomaDotDev opened #37 "Interceptor support"
Currently angular-svg-icon has HttpClientModule dependency which can't be configured. It works fine for simple apps, but for complex API logic using interceptors, it become an issue as all svg fetch requests are intercepted.

It seems to be more Angular architecture issue rather than this lib's but even if I make an [alternative service without interceptor](https://github.com/angular/angular/issue

[2018-03-20 18:18] czeckd commented on #36
I'm not seeing this in Chrome with the SVGs I have at hand unless it has a title element in it. Does the "compass.svg" possibly have in it?
[code]
Could you post the source for compass.svg?

[2018-03-20 18:22] czeckd commented on #37
What version of Angular and version of angular-svg-icon package are you using?

[2018-03-20 19:02] RomaDotDev commented on #37
Angualar 5.2.0, angular-svg-icon 5.0.0

[2018-03-20 20:35] czeckd commented on #37
Interceptors seem to work and they can be made to exclude svg.

Here's what I did. My interceptor:
[code]
If the url is in the excluded patterns like ".svg", then skip interceptor processing.

My module:
[code]

Every time a svg is loaded the HelloInterceptor is called, but passes through without logging. Here's a link to the [demo project on StackBlitz](https://stackblitz.com/edit/angular-g32qdb?

[2018-03-30 14:32] TeodorKolev opened #38 "Unable to use dependency"
I am trying to create npm module with this repo dependency, but when I add it to AppModule I get:
`GET http://localhost:3002/angular-svg-icon.js 404 (Not Found)`
How Can I fix this?
Using this repo: https://github.com/jvandemo/generator-angular2-library
and Module:
[code]

[2018-03-30 18:41] czeckd commented on #38
It looks like this uses SystemJS. You need to configure SystemJS to use the module.  These are the additions I made to my project, "yoyo", playground's systemjs.config.js (`~/yoyo/playground/systemjs.config.js`) to use the module:

[code]

I suspect the needed addition of tslib.js is due to the way the module was built isn't perfectly what SystemJS expects. I have not tried to build a distribution

[2018-04-02 08:17] TeodorKolev commented on #38
@czeckd Thanks for quick response.

[2018-04-16 13:18] FredUK opened #40 "Setting (dynamic) styles on SVG is not possible"
After encountering the same issue as #24 I was going to reply on it why I think the solution given is not the best but the issue was closed so I thought of creating a new one.

I don't think creating a global.css file is a good solution or helpful at all.

One example - and my use case - is if your fill color or any other css property is dynamic..

At the moment the `<svg>` tag is a child of the `

[2018-04-16 18:11] czeckd commented on #40
Could you provide an example svg that you are seeing with this problem please? I have not been able to duplicate it. I am using `ngStyle` in the demo.

[2018-04-17 20:05] czeckd commented on #40
I am just not seeing the issue you are seeing. Please provide an example svg where ngStyle is not working.

Here is a [StackBlitz example](https://stackblitz.com/edit/angular-bwcbzn) of the fill color changing with `[ngStyle]`.

My component's code:
[code]
My component's template:
[code]

[2018-04-24 03:36] #36 closed, assigned to nobody

[2018-04-24 03:36] #37 closed, assigned to nobody

[2018-04-24 03:36] #38 closed, assigned to nobody

[2018-04-27 19:51] jreichardt commented on #29
I don't see how the article helps in this case. It says

So a .svg will always scale to the width of the container, unless you explicitly set the height attribute in the .svg file (to 100% for example). But then the inlined svg will _always_ scale to height. If you have a scenario where you want to use the same icon multiple times on a page, sometimes scaled to height, sometimes to width, you curr

[2018-04-28 00:02] czeckd commented on #29
I'll add a means for the svg-icon component styles to applied directly to the svg. This should allow for height style property to work.

Another alternative would be to add a new attribute to the component for just innerHTML styles. I'm not going with this approach, because it won't be backwards compatible with existing usage. The downside is, however, it will create double borders if a border sty

[2018-04-28 20:09] czeckd commented on #40
Seems like the most straightforward to the #29 issue is to use @FredUK idea for `[svgStyle]` and go with that.

[2018-04-28 20:14] czeckd commented on #29
Taking my preferred approach of applying the svg-icon styles to the svg is problematic with stacked transform cancelling themselves out, double opacities, etc. So, instead of the approach described in https://github.com/czeckd/angular-svg-icon/issues/29#issuecomment-385122298, I'm going with #40 idea of adding a `[svgStyle]` attribute to pass styles directly to be set on the svg combined with the

[2018-04-28 23:42] #29 closed, assigned to czeckd

[2018-04-28 23:44] czeckd commented on #40
Added `[svgStyle]` to set styles directly on the svg.

[2018-04-28 23:44] #40 closed, assigned to czeckd

[2018-05-06 10:22] arangates opened #45 "Issues when migrating project to angular 6"
`Package "angular-svg-icon" has an incompatible peer dependency to "rxjs" (requires "^5.5.2", would install "6.1.0").`

[2018-05-06 16:57] #45 closed, assigned to czeckd

[2018-05-06 17:00] czeckd commented on #45
Published angular-svg-icon@6.0.0 to work with Angular 6.

[2018-05-19 06:00] ravimail26 opened #48 "Not working with MeInMemoryWebApiModule"
In development, i am using in memory db to simulate api's. But the svg-icon stopped working saying image not found in assets folder. This woks fine when using only httpclientmodule
![screenshot_2018-05-19_11-30-02](https://user-images.githubusercontent.com/17427714/40265540-022b67fa-5b58-11e8-9164-7432944031a8.png)

[2018-05-19 18:39] czeckd commented on #48
It seems to be related to this issue https://github.com/angular/in-memory-web-api/issues/195 with in-memory-web-api. Maybe create a reproducer and open an issue with that project?

[2018-06-15 22:31] BenjaminDobler commented on #25
I think the problem might have been that the two svg files might contain the same ids for paths, etc.
Then you will see this result because the ids need to be unique per document. Otherwise they will overwrite other paths, shapes... I ran into this issue myself as most of the time graphic programs export svg data with paths like path-1. You will not have the issue oif you use img or object tag but

[2018-06-16 01:43] czeckd commented on #25
@BenjaminDobler could you provide two example svgs that are causing this issue?

[2018-06-28 08:49] Talgatio opened #49 "ERROR TypeError: Object(...) is not a function"
Hi all!
I'm having an error when I switch the component two times.
 I do not know what to do about it.

angular/cli 1.7.4
angular-svg-icon 6.0.0

ERROR TypeError: Object(...) is not a function
    at SvgIconRegistryService.loadSvg (angular-svg-icon.js:25)
    at SvgIconComponent.init (angular-svg-icon.js:109)
    at SvgIconComponent.ngOnInit (angular-svg-icon.js:83)
    at checkAndUpdateDirectiveI

[2018-06-28 09:43] #49 closed, assigned to nobody

[2018-07-10 08:32] cameronolivier opened #50 "How can I add a title to the svg?"
I'm attempting to add a contextual title for the icon.
eg, using an eye.svg I'd like the title to be "View Item", but hovering over the icon displays 'eye'. I've attempting adding a 'title' attribute to the svg but it seems it's ignored. Is there a prescribed way to do this, I'm not seeing it in the docs.

[2018-07-10 09:54] czeckd commented on #50
I'm surprised you're seeing even 'eye' hovering over the svg. What browser/OS is doing that?

I've always just used a tooltip from Bootstrap or Material on the svg-icon. Here's an example from some code I've done this with use Angular Material's tooltip:

[code]

[2018-07-10 10:29] cameronolivier commented on #50
Ha that's so strange - It was in Chrome. I'll give that a look - that might be a decent way to go about it - thanks for the suggestion.

[2018-07-11 06:34] cameronolivier commented on #50
I figured it out - there was a title tag in the SVG file we got from design...

[2018-10-19 08:38] czeckd opened #51 "Support for Angular 7"
Need to update the peer dependencies so as not to warn about Angular 7.

[2018-10-19 20:55] #51 closed, assigned to czeckd

[2018-10-25 09:52] nicolas-suhner opened #54 "path for images"
I'm trying to implement it, with a relative path to my images but it's not working. Can anyone explain me from where does the path starts?

[2018-10-25 12:12] #54 closed, assigned to nobody

[2018-11-10 13:08] yckmciaiy opened #56 "Add option to use name instead of url in templates"
Would be cool to have something like in material icon, where you can register icon in registry by name as explained in [MatIconRegistry.addSvgIcon](https://material.angular.io/components/icon/api#MatIconRegistry).

To keep backward compatibility while implementing new functionality in #55 I've added:
- optional parameter name to loadSvg in registryService
- getSvgByName function to work similar to

[2018-11-13 17:16] MickL opened #58 "Set class to svg"
I am missing a option to set a class to the svg, e.g.:

[code]

which outputs:

[code]

[2018-11-15 22:29] joshaabraham opened #59 "example not working"
Hi ! how are you ?

I am trying to apply your example and it appears that it's not working.
this is you example :
[svgStyle]="{'width.px':170,'fill':'rgb(150,50,255)','padding.px':1,'margin.px':3}"

this is how I use it :
<svg-icon  [src]="imgSrc + icon" [svgStyle]="{'fill':'color'}"></svg-icon>

I get the shape of the svg, but cannot modifiy its color.
How does that work exactly ? (I am on Angula

[2018-11-17 06:15] czeckd commented on #59
It's hard to say without knowing what is in the svg that you're using. It may already have fill color set on it which may be causing a conflict.

What happens if you do this?
[code]

Can you share the svg you're having difficulty with?

[2018-12-10 19:45] yckmciaiy commented on #56
Thanks!

[2018-12-10 19:45] #56 closed, assigned to nobody

[2018-12-12 06:07] nbora98 commented on #59
Hello,

https://www.iconfinder.com/icons/183586/computer_icon
I am using the svg icon from the above link and using it as below:

<svg-icon src="/images/station.svg" [svgStyle]="{'fill':'rgb(150,50,255)','width.px':64,'margin.px':25}"></svg-icon>

Width and margin gets applied but color is not working with this. Can you please help me for this?

Thanks in advance.

[2018-12-12 07:59] czeckd commented on #59
@nbora98 The problem is the svg. It needs to be prepared to work with styles as explained in the docs [SVG Preperation](https://github.com/czeckd/angular-svg-icon#svg-preparation).

This is how the svg is from the link:
[code]

Specifically, you'll want to remove:

1. `height="16px"` and `width="16px"` attributes that override the size
2. `fill="#000000"` that is overriding the coloring
3. `<g fil

[2018-12-12 08:59] nbora98 commented on #59
Hey,
Thanks a lot. Its working as expected.

[2019-01-09 13:45] freezy commented on #54
How did you solve it?

[2019-01-09 13:50] nicolas-suhner commented on #54
@freezy I added all images I got to the svgRegistry. After that, it worked.

[2019-01-09 13:53] freezy commented on #54
I'm getting

    ERROR No svg with name 'help' has been loaded

when doing that. In `AppComponent`:

[code]

I've also tried relative paths with the same result.

[2019-01-09 13:58] nicolas-suhner commented on #54
load the svgs to the registry
`constructor(
   private svgRegistry: SvgIconRegistryService
) {
   let iconNames = [name of the icons];
   iconNames.foreach(iconName => {
      svgRegistry.loadSvg(´{path_to_images}${iconname}.svg)
   });
}`

[2019-01-09 14:07] freezy commented on #54
Yes, but it looks like that `path_to_images` must be an absoulte URL, not just a path (absolute or relative).

[2019-01-09 14:12] freezy opened #62 "Universal build failing"
When compiling for server-side, I'm getting the following error:

[code]

Running with latest Angular (7.2.0), but I haven't tested other versions. Looks like a classic Universal bug, since `document` is not available when rendering server-side?

[2019-01-09 14:30] nicolas-suhner commented on #54
my path_to_images is relative

[2019-01-09 14:33] freezy commented on #54
Well, I load it in `AppComponent`'s `onInit()` with a path relative from `app.component.ts` to the icon, and I'm getting the error mentioned above.

[2019-01-09 16:19] freezy commented on #62
Looks like [this](https://github.com/czeckd/angular-svg-icon/blob/master/lib/src/svg-icon-registry.service.ts#L54) is the problem, it should be `this.document`. However what I don't understand is why it's there, given that line was commited [Nov 9](https://github.com/czeckd/angular-svg-icon/blame/master/lib/src/svg-icon-registry.service.ts#L54), and the Universal PR which does it [correctly](https

[2019-01-09 16:50] czeckd commented on #62
@freezy Yes, you're right. I'll get it fixed.

[2019-01-09 17:11] #62 closed, assigned to nobody

[2019-01-09 17:13] czeckd commented on #62
@freezy angular-svg-icon@7.0.2 published to npm. Please let me know if it doesn't resolve the defect you found. Thanks for you help finding it and tracking it down.

[2019-01-09 20:57] freezy commented on #62
You're the best! Thanks! :)

[2019-02-04 11:58] czeckd commented on #58
Try the newly added `[applyCss]="true"` attribute:

[code]
And see if that works for your use case.

[2019-02-08 09:19] johanchouquet opened #69 "Use the Observable<SVGElement> in the template (not src, not name)"
Hi,

I'm trying this library which seems very cool. The thing I'm not sure if I use it correctly, so it may not be a bug.

I'm using the library to load specific svg to display it then it my template, by using the `SvgIconRegistryService`. The methods give an `Observable<SVGElement>` which is pretty cool because it allows then to add specific attributes later on such as `preserveAspectRatio` for e

[2019-02-09 08:55] czeckd commented on #69
I am not sure I understand what you are trying to accomplish, but could you do something with the combination of `getSvgByName(name: string) : Observable<SVGElement>` and then modify the SVG in code and then add the modified SVG to the registry with `addSvg(name: string, data: string)`?

If you needed to add it back with the same name, you could `unloadSvg(url: string)` before adding it back?

[2019-02-11 15:07] johanchouquet commented on #69
Thanks for your reply @czeckd .

How can i call the `getSvgByName` method if i don't load already the svg in the registry, setting a name ? If I do so, the registry would already have the svg right ? And if so, wouldn't the svg be rendered in the view ?

By reading your answer, I feel that what i would need is a method like `loadSvg(url, name)` which does not write anything in the registry. Then,

[2019-02-12 06:29] czeckd commented on #69
Maybe this would be cleaner? No need to `getSvgByName` until you add the tailored SVG into the registry.

Use `addSvg(name: string, data: string)` to put the tailored SVG into the registry bypassing using the component to load the SVG. So first tune your svg, then add it to the registry.

[code]
If you need to readjust the SVG, remove it from the registry (`this.iconReg.unloadSvg('box')`). Tune it

[2019-02-12 16:24] johanchouquet commented on #69
That would probably do what i need indeed @czeckd ! Thanks for this. I'll try that approach very soon.

Only question that comes to me: my svg is contained in a file.
How to convert it to a simple string so that i can be able to use the `addSvg(name, data)` method ? I saw that you have a `svg-loader` file that you use. Is it OK to use it just like that ? If we take as an example the repo `angular/

[2019-02-13 19:12] #50 closed, assigned to nobody

[2019-04-08 23:22] nrane13 opened #71 "CSS is getting added to head tag, causes layout issue"
Description
On use of angular SVG icon, CSS is getting added in head tag like  “<style>[_nghost-c] { display: inline-block; }</style>” .
This css gets applied to the component which cause layout issue.

Environment
Angular Version: 7.2.0

[2019-04-23 20:07] vaindil commented on #71
I have this same issue and it's driving me crazy. I'm guessing it's being added by [this code](https://github.com/czeckd/angular-svg-icon/blob/master/lib/src/svg-icon.component.ts#L12), but it really needs to not be there.

[2019-04-23 21:38] czeckd commented on #71
@nrane13, @vaindil A reproducing example in [StackBlitz](https://stackblitz.com/) would be helpful to understand the issue you are seeing.

[2019-04-23 21:41] vaindil commented on #71
@czeckd You can see it on [the library's demo page](https://czeckd.github.io/angular-svg-icon/). Inspect any of the `<svg-icon>` elements:
![image](https://user-images.githubusercontent.com/771134/56617859-efb8d380-65ee-11e9-9097-bacd34b7fe45.png)

[2019-04-23 22:51] czeckd commented on #71
Ahh, that. Yes, the inline-block style was put there intentionally for the app I was originally using svg-icon for.

For now, could you do something like this in your app's styles to override it?
[code]
I'll do some research to see how big of an impact it'll be on some of the apps I support to remove it from the component. I doubt it will be much since the display could also be set manually the sa

[2019-04-25 04:50] czeckd commented on #71
This should now be part of angular-svg-icon@7.2.1.

[2019-04-25 17:10] benoitjchevalier commented on #71
Nice, thank you!

Just as an FYI this had some rather unexpected implication, namely angular doesn't seem to be dealing with `:host` correctly in the context of web components. In our case we are bundling some angular component as angular elements (web components). Those elements are then consumed by other angular app.

In this scenario our angular element was still appending the inline-block styl

[2019-05-04 08:40] #71 closed, assigned to czeckd

[2019-05-09 22:09] DejayJD opened #73 "Replace ids with unique ids"
**Problem:**
Trying to load an svg in multiple components, then change the color in one components, but not have it affect the other svg. Inside of the svg, the color is in a <linearGradient> tag and uses a url(#ID).

When I modify the color using CSS inside of a component (Ex. svg path { fill: white }), every instance of that SVG is changed instead of the specific icon in that component that the

[2019-05-10 05:56] czeckd commented on #73
Why not do something like this?
[code]

[code]

![svg-icon-example](https://user-images.githubusercontent.com/17859320/57505555-a2568a80-72ad-11e9-83f5-4d0f7636198c.png)

[2019-05-28 07:16] lxdonge opened #74 "Not support MS Edge browser"
I try this in Edge it just shows a black block but not the svg image. I don't why this doesn't support Edge.

[2019-05-28 07:58] lxdonge commented on #74
If I remove ng-reflect-svg-style="[object Object]" from the built html ,  the svg shows.

[2019-05-28 19:38] czeckd commented on #74
I'm viewing the [demo](http://czeckd.github.io/angular-svg-icon/) in Microsoft Edge 41.16299.1004.0 and it shows the svgs correctly. Can you please provide a sample SVG, relevant styles, and an example how you're using it in the template?

[2019-05-29 00:39] lxdonge commented on #74
I just use this line:
'<svg-icon src="../assets/ttt.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon>' in the tmeplate.

The svg file text is :
`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 104 104"><defs><style>.a{fill:#316cde;}.b{fill:#fff;}</style></defs><title>logo_vantage_L_about</title><rect class="a" width="104" height="104"/><polygon class="b" points="70.06 65.9 45.08 65.9 45.08 23.9

[2019-05-29 09:05] czeckd commented on #74
It looks like Edge is having an issue with mixing style and classes inside an svg using the svg-icon component. For example, it works if I change the svg to be:
[code]
and keep the template as:
[code]
What appears to be happening is the svgStyle is overriding the internal classes and thus Edge displays it without the colors. If you comment out the rect in the svg, it will just display the polygon

[2019-05-29 11:29] lxdonge commented on #74
I got it，thanks anyway.

[2019-06-16 21:51] do-diegoortiz commented on #54
I could make it work either 😓
Also, I want to get the icons from a package like `@source/some-icon-package` but I didn't find a way to tell the SvgIconRegistryService the path I want.

[2019-06-17 06:46] czeckd commented on #54
@do-diegoortiz : You'll want to review the Angular docs for [Project asset configuration](https://angular.io/guide/workspace-config#project-asset-configuration).

For example, here is how you could use [evil-icons package](https://www.npmjs.com/package/evil-icons). Add this "glob" to angular.json:
[code]

Then you can use the svg icons in your template:
[code]

[2019-06-20 14:32] mueedahmed1 opened #75 "src attribute in <svg-icon> is not bindable"
### `<svg-icon` `src="../../../../../assets/images/{{i.name}}.svg"></svg-icon>` @czeckd

[2019-06-24 16:18] umutdeveloper commented on #40
If SVG file has fill attribute at path tag, this attribute is not working when we set fill property on [svgStyle] because this attribute is adding fill attribute only to svg tag. But svg file has another fill propert on path tag in svg tag.

![image](https://user-images.githubusercontent.com/20699694/60035108-bf57e900-96b4-11e9-9888-0de4e6583aa5.png)

[2019-06-24 16:19] umutdeveloper opened #76 "If SVG file has fill attribute at path tag, this attribute is not working when we set fill property on [svgStyle]."
If SVG file has fill attribute at path tag, this attribute is not working when we set fill property on [svgStyle] because this attribute is adding fill attribute only to svg tag. But svg file has another fill propert on path tag in svg tag.

![image](https://user-images.githubusercontent.com/20699694/60035108-bf57e900-96b4-11e9-9888-0de4e6583aa5.png)

_Originally posted by @umutcakirbm in https://

[2019-07-17 08:09] Epsilon-Rashmi opened #77 "Can't bind to 'svgStyle' since it isn't a known property of 'svg-icon'."
Getting this error.

1. If 'svg-icon' is an Angular component and it has 'svgStyle' input, then verify that it is part of this module.
2. If 'svg-icon' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.

 I am using Angular 7.2.0 version.

[2019-07-18 13:59] Supratentorial commented on #77
That just looks like you either haven't installed via npm, or haven't included the AngularSvgIconModule import in the relevant module.

[2019-07-22 22:13] btmurrell opened #79 "allow deferred binding so src and name can be null or undefined"
We are wrapping `<svg-icon>` with some dynamic sugar.  When we do so, based on our own component properties, we set either `angular-svg-icon` `name` or `src` properties.  When use our wrapper component with an `*ngIf`, we effectively have deferred binding, and in this case, `angular-svg-icon` code (from the `init()` method) is causing a few errors in the console ultimately from Angular's `HttpXsrf

[2019-07-25 09:24] Vienyame commented on #75
Hello ,
Pls try this:
`const mySvgPath = "../../../../../assets/images/{{i.name}}.svg"`

and in your template use::
`<svg-icon [src]="mySvgPath "></svg-icon>`

Regards

[2019-08-01 18:31] btmurrell commented on #79
@czeckd , reaction?
thanks.

[2019-08-02 00:41] czeckd commented on #79
@btmurrell Plan to get your pull request merged into the next release.

[2019-08-02 01:20] btmurrell commented on #79
Great.  Thanks!

[2019-08-06 15:14] vimalvr commented on #77
@Epsilon-Rashmi I also faced the same issue and included in the relavent module and it's working fine.

@Supratentorial thank you :)

[2019-08-08 17:49] ranmedina opened #80 "SVG icons doesn't render properly on Safari"
Hello,

Is it possible that this library does not support Safari?
SVG icons are rendering perfectly on every browser, but when I view it using my iPhone, the SVG icon becomes black & white.

However, using:
`<img src="icon.svg">`
works.

Example:
 <svg-icon src='assets/images/iostest.svg'></svg-icon>
Chrome:
![chrome](https://user-images.githubusercontent.com/36334461/62725500-e75d9a80-ba1d-11e9-9

[2019-08-08 19:47] czeckd commented on #80
@jayzienS If you open just the SVG file in Safari outside of Angular, does it display the shading? It may be an issue with the SVG for Safari than the library. The library looks like it is displaying the SVG, just not the shading.

Please attach the SVG if you want further help.

[2019-08-09 09:00] ranmedina commented on #80
Yeah, I just ran a test on a local server using the `<svg>` element and it seems like displaying the SVG on a blank page outside the framework works properly.
Any idea what the issue could be?

There is the SVG file -
[iostestsvg.zip](https://github.com/czeckd/angular-svg-icon/files/3485518/iostestsvg.zip)
or
https://pastebin.com/sihnB0Nk

[2019-08-09 16:12] czeckd commented on #80
I've not been able to reproduce this. I just added use of your icon to the library's demo app for my test. I loaded the SVG using the library without any issue with Safari on a MacOS desktop, iPad, and iPhone. Here it is on Safari on an iPhone:
![IMG_4727](https://user-images.githubusercontent.com/17859320/62792983-56220e80-ba85-11e9-9773-b88c351d5bf9.PNG)
This is the HTML I used:

[code]
Maybe th

[2019-08-09 16:14] czeckd commented on #80
Ahh, I just noticed you're not using the library in your example. You are loading it with the `<img>` tag not the `<svg-icon>` tag that is from the library.

[2019-08-09 20:13] ranmedina commented on #80
I gave the `<img>` element as a working example, when I use `<svg-icon>` it doesn't work unfortunately.
However, I ran a test on a fresh angular app using your library and indeed it renders properly, which leads me to the conclusion that something in my app is interfering.

I will do some deep researching into this, thanks for your assistance anyway!

[2019-08-09 20:13] #80 closed, assigned to nobody

[2019-08-11 04:48] czeckd commented on #79
@btmurrell Your change should now be in [angular-svg-icon@8.0.0](https://www.npmjs.com/package/angular-svg-icon/v/8.0.0). Thanks!

[2019-08-14 00:09] #79 closed, assigned to nobody

[2019-08-22 08:55] devendradatatech opened #82 "CORS policy: No 'Access-Control-Allow-Origin' header"
Hello,
I had used this NPM for SVG its working fine while I take SVG from the assets/image.

But when I take it from the API it blocks by the angular.
I had also allowed cross-browser in the header.
`header('Access-Control-Allow-Origin: *'); `
I got below issue please look into it and if any solution for that please let me know.

**Access to XMLHttpRequest at 'http://localhost/2019/project/admin/m

[2019-08-22 14:38] czeckd commented on #82
You're running your app on localhost:4200 and you're trying to read content from localhost port 80. That is why you're running into a CORS issue. You will need to set the CORS headers to work with your app on localhost. This has nothing to do with this package.

[2019-08-22 14:38] #82 closed, assigned to nobody

[2019-08-30 09:58] accidentul opened #84 "angular universal"
do you have an example how to use it with angular universal ?
where to put the SvgServerLoader class becouse angular nodemodules dosen't have fs module

[2019-09-10 05:58] AsafAgranat opened #85 "Add viewbox attribute"
Please add `viewbox` attribute to the SVG element, and allow to pass it as an optional @Input. Without `viewbox` SVGs don't scale along with their parent container, but remain fixed to their defines width/height.

[2019-09-13 18:16] panagulis72 opened #86 "Use relative path in an Angular Library Component"
I created a custom Library with Angular Cli. It has the following structure:
 - dist
 - projects
    - customLib
        - src
            - assets
                - icons
            - lib
                - button

The button component gets as Input() the name of the svg icon that will be displayed inside the button:
      `this.svgIconUrl = '../../assets/icons/' +this.icon + '.svg';`

 I made a

[2019-09-17 08:20] dweep119 commented on #59
Hey I am facing same issue here is my svg,

`<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a,.b{fill:none;}.a{stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;fill-rule:evenodd;}</style></defs><g transform="translate(2 4.9)"><g transform="translate(2 0.1)"><path class="a" d="M16.247,0H0L6.5,7.685V13l3.249,1.625V7.685Z"/></

[2019-09-22 08:52] czeckd commented on #85
I think it is be better to fix the SVG to have a viewbox set before use than do it programatically. What's your use case for using SVGs without a viewbox and then setting it through the component?

[2019-09-22 08:55] czeckd commented on #84
I do not have an example at hand, but maybe @freezy or @edulelis does?

[2019-09-22 09:10] czeckd commented on #86
You will probably need to add some additional configuration in your angular.json. See: [Angular Workspace Configuration/Assets configuration](https://angular.io/guide/workspace-config#asset-config).

[2019-09-22 10:07] AsafAgranat commented on #85
`viewbox` allows defining the SVG width/height of 100%, which allows it to grow/shrink according to it's container. Without `viewbox` the SVG takes on whatever unit size is defined explicitly.

I've prepared a [Codepen example](https://codepen.io/rhmubus/pen/YzKdEGw)

You can always detect whether the SVG has viewbox defined already, and then use that, otherwise add a default one (according to the

[2019-09-23 00:35] czeckd commented on #85
Yes, I understand what a viewbox does. What I do not understand is why you would use a SVG without one already set? It seems to me more straightforward to fix the SVG in advance of using it in an application to have the appropriate viewbox set.

So, what I am wondering is what is the use case to use SVGs without a viewbox and then fix them, by setting a viewbox with the component? If an applicatio

[2019-09-23 04:28] AsafAgranat commented on #85
My use case was, that i used an SVG directly from a Wikimedia URL, and that SVG rendered without a viewbox attribute. Not having an intermediary method to include the viewbox, i had to resolve to either download the file first, or apply an attribute on runtime, both of which solution defeat the purpose of having a convenient library to do it, in my opinion.

[2019-10-29 16:55] localpcguy opened #87 "Voiceover / NVDA / JAWS Accessibility (A11y) support?"
Is there a defined pattern for making sure SVGs served using Angular SVG Icon are accessible, particularly as related to voice over support? I know you can set the title/description in the SVG itself and that works for some combinations of voice readers, but it would also be nice to have the option to pass dynamic voice over text into `svg-icon` and have it be rendered consistently for the best ac

[2019-10-29 19:53] localpcguy commented on #73
For the original purpose that works, but where this would potentially be nice to have would be for the `title` and `desc` elements. According to [CSSTricks Accessible SVGs](https://css-tricks.com/accessible-svgs/), the title and desc should have unique IDs and then be referenced by an `aria-labelledby` attribute on the SVG itself.

[2019-10-30 06:00] czeckd commented on #87
I don't have a defined pattern to recommend. It certainly could work as an enhancement for svg-icon. If you have something in mind, a pull request would be welcome.

[2019-10-31 12:59] Rui90 opened #88 "Internet explorer problem"
Does this work on IE?

Apparently on localhost everything is fine, but when I deploy to a server it does not load the assets. It has the path, but the svg is not rendered.

It only happens on IE, on other browsers it works.

[2019-11-18 14:14] pachidev opened #89 "Using different SVG's but loading the same one"
I'm loading 4 different SVG icons dynamically in the component constructor.
![image](https://user-images.githubusercontent.com/47981758/69059319-8e86a080-0a15-11ea-917f-9714cb43dc27.png)

When I use them in the HTML the first one is the only well rendered.

In this example, I set those four and right after I put the same ones but using an <img> tag:
![image](https://user-images.githubusercontent.c

[2019-11-19 04:50] czeckd commented on #89
I've not been able to reproduce this. In the demo app, what I've done:

[code]
And in the template:
[code]

And both the eye svg and moon svg load as expected.

[2019-11-19 07:56] pachidev commented on #89
I found the problem. All the SVGs I was provided have the same ids (they're around 50):

![image](https://user-images.githubusercontent.com/47981758/69127426-83318480-0aaa-11ea-8d18-e333da64aa3d.png)

So the problem is when trying to load multiple ones with the same ID.
Not sure if it's your business though 😅
Thank you 👍

[2019-11-20 15:31] #89 closed, assigned to nobody

[2019-11-29 06:38] MaximSagan commented on #73
I am having the same problem.
[Apparently, other similar libraries take the approach of setting unique IDs](https://stackoverflow.com/a/52269973/3835389) as suggested here.

[2019-12-05 14:15] valentinHruzinski92 opened #90 "Error in documentation for preload functionality"
`loadSvg` of `SvgIconRegistryService` return observable so needs subscribe.

`this.iconReg.loadSvg('foo.svg');` shoul be changed to `this.iconReg.loadSvg('foo.svg').subscribe(() => {});`

[2019-12-08 22:39] #88 closed, assigned to nobody

[2020-01-06 21:48] czeckd commented on #85
@AsafAgranat I have a viewBox attribute working in a branch, but adding a viewBox may not be as useful when the height and width attributes are still set on the SVG. What are your thoughts on automatically removing the height and width attributes on the svg if the svg-icon has a viewBox set?

[2020-01-19 06:00] 0xJett commented on #76
I also meet this problem, have you solved it?

[2020-02-18 07:57] Adam-Michalski opened #91 "Update to angular 9"
Provide update to angular 9

[2020-02-19 23:07] filipedtristao commented on #58
Hi @czeckd, its a really neat plugin!

About the applyCss, it only work if the applied class is specific for using with the svg element. In my case, i have class that's for general use, for example:

[code]

If i use the applyCss like this:

[code]

It won't work, because my class don't apply the styles to the <svg> element. Is there any way to make the class applied to the ```<svg-icon>``` be tra

[2020-02-20 13:22] Adam-Michalski opened #92 "Multiple registry services in cause of unnecessary provider in module"
Every place where you import module there is provider injected `SVG_ICON_REGISTRY_PROVIDER`.
It should be only provided as already is in forRoot method.

This issue causes multiple SvgIconRegistryService instances for lazy loaded modules and other complications for non lazy modules.

[2020-02-20 18:45] czeckd opened #93 "Apply class to svg itself"
Hi @czeckd, its a really neat plugin!

About the applyCss, it only work if the applied class is specific for using with the svg element. In my case, i have class that's for general use, for example:

[code]

If i use the applyCss like this:

[code]

It won't work, because my class don't apply the styles to the <svg> element. Is there any way to make the class applied to the ```<svg-icon>``` be tra

[2020-02-20 18:58] czeckd commented on #93
@filipedtristao

To work like you suggest, it will need some code change. For now, you can work around the issue by adding this to your scss:

[code]

[2020-02-21 07:37] Adam-Michalski opened #94 "Style not applied to element due to not detected changes"
I am facing problem where svgStyle does not apply to element (sometimes) in cause of `setSvg` called after changes of `name` and no `setStyle` called from `SvgIconComponent`.

My case is that I am loading screen with empty icon status, then I update that status to proper icon. When I debug this code then everything goes fine until last step (everything is set as expected style is set before last s

[2020-02-21 18:02] czeckd commented on #92
@Adam-Michalski - if you have a fix, please make a pull request.

[2020-02-21 20:19] czeckd commented on #92
@Adam-Michalski:  After more testing, I believe this is working as expected.

If you are lazy loading modules, then import AngularSvgIconModule only in the AppModule. Do not import the module in the lazily-loaded child modules.

I will add a throw in the constructor if the module is already loaded.

[2020-02-21 23:37] czeckd commented on #92
@Adam-Michalski: I think I see what problem you uncovered. I am going to change the module in version 9.0.0 to require that an explicit forRoot() call be made if the providers are wanted.

[2020-02-22 00:10] #77 closed, assigned to nobody

[2020-02-22 00:12] #48 closed, assigned to nobody

[2020-02-22 03:23] #90 closed, assigned to czeckd

[2020-02-22 03:23] #91 closed, assigned to czeckd

[2020-02-22 03:23] #92 closed, assigned to czeckd

[2020-02-25 16:21] czeckd commented on #94
@Adam-Michalski - Could you provide a small example of the typescript and html code to reproduce this?

[2020-02-27 13:28] bladeski commented on #85
I have another use-case for this, whereby I use the same SVG icon in numerous places on my app, but in some places I wish to specify the viewbox in order to crop part of the image. It may be that my understanding of how the viewbox works is incorrect, or that there may be another way to approach this issue, however my initial investigation into this suggests that it is probably the most straight-f

[2020-03-06 07:02] czeckd commented on #85
@AsafAgranat, @bladeski angular-svg-icon@9.1.0 now has a means to set the viewBox. Here's the documentation from the readme:

[2020-03-06 07:02] #85 closed, assigned to czeckd

[2020-03-06 07:03] czeckd commented on #93
@filipedtristao - This should work with angular-svg-icon@9.1.0 now.

[2020-03-06 07:03] #93 closed, assigned to nobody

[2020-03-06 07:06] czeckd commented on #58
@MickL - this should work now in angular-svg-icon@9.1.0

[2020-03-06 07:06] #58 closed, assigned to nobody

[2020-03-06 14:11] wilianx7 opened #97 "Ng build on Angular 8 not working in 9.1.0 version"
Hello,

I updated the version of ```angular-svg-icon``` to ```9.1.0``` and after this procedure my project pointed out some errors in the console when running ```ng build```, making it not possible to compile.

Previously I was using version ```8.0.0``` and the ```ng build``` worked correctly.

![image](https://user-images.githubusercontent.com/42422976/76090839-0fed4900-5f9b-11ea-8bf9-e4c3651a32e

[2020-03-06 17:45] czeckd commented on #97
@wilianx7 - Hi, what version of Angular and rxjs are you using? I'm trying to reproduce this.

[2020-03-06 18:28] wilianx7 commented on #97
@czeckd - I'm using rxjs 6.4.0 and Angular 8.2

[2020-03-06 18:36] czeckd commented on #97
@wilianx7 - Ahh that's the problem. the angular-svg-icon@9.x versions are for Angular 9.x and later (as it says in the [README](https://github.com/czeckd/angular-svg-icon/blob/master/README.md)). You'll need to ng update your project to 9.x to use the latest version of angular-svg-icon.

[2020-03-06 18:37] #97 closed, assigned to czeckd

[2020-03-09 17:49] czeckd commented on #87
@localpcguy I've been thinking about how to add accessibility support. Would it be helpful to be able to set on `svg-icon`: `title`, `role`, `desc`, and/or `aria-labelledby`? From reading elsewhere, it seems that setting `aria-hidden` is the correct thing to do on icons not specified explicitly.

Would having the `title`, `role`, `desc`, and/or `aria-labelledby` duplicated in both the `svg-icon` a

[2020-03-09 17:55] czeckd commented on #73
For the original styling issue, now with v9.1.0, this works:
[code]
[code]

Also, I'm still thinking about good way to implement unique ids.

[2020-03-09 18:18] czeckd commented on #59
@dweep119 With `angular-svg-icon@9.1.0` this should work with that SVG:
[code]
[code]

![filt](https://user-images.githubusercontent.com/17859320/76244547-86868280-61f7-11ea-9cfb-9eabfdfd31bb.png)

[2020-03-11 06:07] #59 closed, assigned to nobody

[2020-03-12 06:32] MaximSagan commented on #93
@czeckd
This commit broke the SVGs in our app. With this commit, it makes it near impossible to apply classes to the `<svg-icon>` host element itself.
If the `applyCss` input is `false` (or not specified), the class will on the host element will be removed (unclear why).
If the `applyCss` is `true`, the class on the host element will be duplicated onto the svg element (again, I don't understand wh

[2020-03-12 07:26] czeckd commented on #93
@MaximSagan Please open a new issue with a small example to reproduce your use case. Thanks.

[2020-03-12 13:12] filipedtristao commented on #93
@MaximSagan we use tailwindcss in our application, so usually we don't have specific classes for ours SVG elements, instead of that, we use generic classes to stylize.

Like this:

[code]

And the CSS for this classes is like this:

[code]

In this case, if the classes are applied to ```<svg-icon>``` and not to the ```svg``` element, it won't work.

[2020-03-12 14:31] MaximSagan commented on #93
I understand why you'd want a class on the `svg` element (as opposed to its parent, the `<svg-icon>` component host element), but I'm questioning why you'd want to apply the same class on both elements at the same time.

[2020-03-12 14:40] filipedtristao commented on #93
I don't want the classes to be applied to both at the same time. If it only applies to ```<svg>``` it would be fine.

[2020-03-12 17:29] czeckd commented on #93
@MaximSagan Please provide an example of how it has broken for you. Ideally the example would have the class / styling you need on the `svg-icon` component instead of the `svg`.

[2020-04-07 09:53] Nemolo opened #98 "'svg-icon' is not a known element in lazy loaded Module"
when i try to use the <svg-icon> tag in a child module (lazy loaded) i get the compile error:
`error NG8001: 'svg-icon' is not a known element:`

the component works fine in the root module.
i tried to:

- import `AngularSvgIconModule.forRoot()` ALSO in the child module
- import `AngularSvgIconModule.forRoot()` ONLY in the child module
- import `AngularSvgIconModule` in the child module and `Angul

[2020-04-07 10:17] Nemolo commented on #98
my bad, i was importing the module in the child "main" module, importing it in the child "router" module worked.

[2020-04-07 10:17] #98 closed, assigned to nobody

[2020-04-07 20:47] vaindil commented on #93
This is a pretty significant change to not be mentioned anywhere other than this issue. It has broken a ton of our CSS rules that expect the class to be applied only to the `<svg-icon>` element itself, since they're now also being set on the `<svg>` element. Not saying it needs to be reverted, but it should at least be mentioned somewhere in the readme or a changelog.

**EDIT:** A specific CSS rul

[2020-04-08 09:39] czeckd commented on #93
@vaindil I recommend changing back to version 9.0.0 and I'll implement the requested feature differently. Thank you for the example, it is helpful.

[2020-04-08 15:18] vaindil commented on #93
@czeckd That works, thank you!

[2020-04-09 07:22] czeckd commented on #93
@vaindil @MaximSagan - I backed out the change that automatically duplicated the `svg-icon` class and applied it to the `svg`. It is in version 9.2.0.

@filipedtristao - You have two options to apply the `svg-icon` class to the `svg` in 9.2.0. You can use the new `[svgClass]` attribute or use the `[class]` attribute and set `applyClass="true"` to duplicate the `svg-icon` class onto the `svg`.

[2020-04-09 12:05] filipedtristao commented on #93
Thanks @czeckd!

[2020-05-01 12:33] jaumard opened #100 "Angular 9 problem loading SVG"
Hello,

I'm trying to migrate an angular 8 project, everything was working on ng8 but once I updated to ng9 not a single SVG is loading.

Here is what I have into imports in app.modules:
[code]
And the loader:
[code]

Problem is that the getSvg doesn't receive a string, it now receive a node module `http://localhost:5000/[object Module]`.

Which give a 404 with:
[code]
any idea how to fix this ?

[2020-05-01 14:40] jaumard commented on #100
Apparently loading SVG file with required is not supported anymore on NG9, I was using this to load images. I removed it and it works nicely :) sorry for the noise

[2020-05-01 14:40] #100 closed, assigned to nobody

[2020-05-08 16:15] DKavaliou-by opened #101 "#question Is it possible to enable <svg-icon> (component) globally?"
I would like to declare AngularSvgIconModule only once in root AppModule to use it globally under all other subModules.

Is it possible?

[2020-05-08 19:35] czeckd commented on #101
Declare the forRoot in the app's module. To use the svg-icon component, you will need to import it your other modules. So, app.module.ts:

[code]

And in non-root module:
[code]
I tried to emulate the usage model of Angular Material.

[2020-05-09 08:22] DKavaliou-by commented on #101
Thanks for clarifying

[2020-05-11 05:53] #101 closed, assigned to nobody

[2020-05-11 05:54] #75 closed, assigned to nobody

[2020-06-06 07:16] alexcoroza opened #102 "applyCss warning in Angular 9.1"
In my code I am using
`<svg-icon *ngIf="gameDate" class="arrow-icon" src="{{ environment.iconPath }}chevron-left.svg" [applyCss]="true" (click)="selectPrevDate()"></svg-icon>`

But just today I tried to upgrade my project into Angular 9. I think it was successful except there are lots of warning that appeared in my Chrome console saying `applyCss deprecated since 9.1.0, will be removed in 10.0.0`

[2020-06-06 08:20] czeckd commented on #102
Are you absolutely certain you're using 9.2.0? Because `[applyClass]="true"` is working in this [stackblitz](https://stackblitz.com/edit/angular-ivy-8bs7fq?file=src%2Fapp%2Fapp.component.html) I just made.

[2020-06-08 07:57] akhilaet-92 opened #103 "Not working on angular-8"
I am using angular version 8 and angular-svg-icon version 8. But it is not working in my project. I have imported the dependencies and tried with a svg image. But I am unable to see it in my page. Is there anything else to do to view the svg icon?

[2020-06-08 08:13] #103 closed, assigned to nobody

[2020-06-09 11:49] radulescuandrew commented on #74
Still happening. Anything from last year?

[2020-06-10 00:52] czeckd commented on #74
@radulescuandrew:

The `<svg-icon>` appears to working when I tested it with Microsoft Edge 83.0.478.45 (Official build) (64-bit).

Here's a [stackblitz](https://stackblitz.com/edit/angular-ivy-gvpr3e?file=src%2Fapp%2Fapp.component.html).

[2020-06-26 08:52] CedricBojoly commented on #76
Its the same problem with the width and height.
If you have a width and height on the svg tag and add a width and height with svgStyle the icon size will not change.
Probably some svgStyles should directly be applied to the svg tag

[2020-06-29 07:06] lizlux commented on #73
I'm running into a similar issue with non-unique Ids within svgs. The svg I'm using has a `path` element with a `fill` attribute set to the value of a `linearGradient`'s id. The second svg on the page is referencing the `linearGradient` of the first svg on the page via the id, and that element is not found for some reason. From what I can tell from a web search, this would be fixed if all svg ids

[2020-07-06 13:30] ihor-zinchenko commented on #84
any updates?)

[2020-07-06 13:44] Rene4100 opened #104 "Support for angular 10?"
Any plans for a release that supports angular 10? :)

[2020-07-06 15:27] czeckd commented on #104
Is v9.2.0 not working with ng10?

[2020-07-06 15:28] #102 closed, assigned to nobody

[2020-07-06 15:29] #74 closed, assigned to nobody

[2020-07-07 06:26] Rene4100 commented on #104
I previously had some problems upgrading as angular-svg-icon@9.2.0 requires tslib@^1.10.0 which in ng10 have been upgraded to ^2.0.0.
Thanks for the help 👍

[2020-07-07 07:04] czeckd commented on #104
Thanks! Version 10.0.0 should now be available from npm.

[2020-07-07 07:04] #104 closed, assigned to czeckd

[2020-07-08 16:50] czeckd commented on #76
I'm not understanding what change is being asked for here. Why not just fix the SVGs you are using?

[2020-07-08 16:57] filipedtristao commented on #76
Yeah, i think this is a better idea. Apply properties from the ```svg``` element to the ```path``` could be problematic, especially because you can have a svg with multiple paths.

[2020-07-10 10:00] ihor-zinchenko opened #106 "Styles not applied on iOS"
[code]
[code]

on iOS (chrome, safari) styles not applied
On the Android and windows works correctly

[2020-07-10 13:57] jhornancolina opened #107 "ERROR TypeError: Cannot read property 'add' of undefined"
`
ERROR TypeError: Cannot read property 'add' of undefined
    at DefaultDomRenderer2.addClass (platform-browser.js:1238)
    at BaseAnimationRenderer.addClass (animations.js:613)
    at SvgIconComponent.setClass (angular-svg-icon.js:329)
    at SvgIconComponent.ngOnChanges (angular-svg-icon.js:174)
    at SvgIconComponent.wrapOnChangesHook_inPreviousChangesStorage (core.js:27058)
    at callHook

[2020-07-10 16:07] czeckd commented on #107
I have not been able to reproduce this with my sample SVGs. Could you please provide the SVG that is causing this error?

Also, what version of angular-svg-icon are you using and what version of Angular? Thanks.

[2020-07-10 16:18] czeckd commented on #106
Could you provide a sample SVG to replicate this and what do you have defined as the `svg-icon` class? Thanks.

[2020-07-10 18:07] jhornancolina commented on #107
Thanks for your reply. I currently using angular 8.

link of the svg
``
https://mega.nz/file/BZoGiYya#vMueZ_X6H_cNIrXrQmkccd-83wj5n3UyrZA_EG2DIx4
``

[2020-07-10 23:58] czeckd commented on #107
It looks like you have a stray `>` in your template syntax that causes the error. If you remove the extra `>`, then the svg loads without error. This mark-up worked for me:
[code]

[2020-07-13 08:40] ihor-zinchenko commented on #106
@czeckd try that https://dropmefiles.com/MzSmN, thanks)

[2020-07-13 15:17] jhornancolina commented on #107
Omg, thanks for your reply it works. Sorry for reply you too late I had a
lot of work. Thanks you a lot bro!

El vie., 10 jul. 2020 a las 18:59, David Czeck (<notifications@github.com>)
escribió:

[2020-07-13 16:28] #107 closed, assigned to nobody

[2020-07-13 16:48] czeckd commented on #106
I'm not able to reproduce this: I see the `d` in the example.svg toggle between white and black on iOS browsers. Is this the expected behavior?

I do not have any styling in the `svg-icon` class though. Maybe that is part of the issue?

[2020-07-21 07:32] usamauzi opened #108 "Is it possible to initialize svg-icons in typescript?"
Hi, I am trying to initialize this in a typescript file using document.createElement to display in a map webapp as an overlay (openlayers).

`
let jtiImageElement = document.createElement('svg-icon');
    jtiImageElement.setAttribute('src', 'assets/icons/jtis/1A.svg');
    //jtiImageElement.setAttribute([stretch],"true");
    //jtiImageElement['src'] = `assets/icons/jtis/1A.svg`;
    jtiImageEleme

[2020-07-21 07:49] popoleeMaster opened #109 "Can't manage to display mask svg."
Hello,

I am using this package to load svg (no preloading) in my angular 9 app.
I am using the latest version.

My designer provided me with some icon like this one, that I download optimized from Zepelin (the UX app for mockup) :

[code]

Now, if I draw this as an image, or using background-image it draw perfectly fine.
Using this package tho, I have a grey cube.

![2020-07-21_16-45](https://use

[2020-07-21 08:50] czeckd commented on #109
I saw no problem loading the first or second SVG. This is the template code I used:
[code]
This is how the second SVG loaded in Chrome:

![Screen Shot 2020-07-21 at 1 49 29 AM](https://user-images.githubusercontent.com/17859320/88033630-7317ec00-caf4-11ea-8735-521e8f39cf73.png)

What do you have for the template code and styling?

[2020-07-21 09:09] czeckd commented on #108
This `svg-icon` Angular component wasn't design for this type of use. Have you tired using the Angular approach by using a [dynamic component loader](https://angular.io/guide/dynamic-component-loader)?

[2020-07-21 09:26] popoleeMaster commented on #109
I am using ng-bootstrap (so bootstrap and jquery...) in the same time. I call the svg exactly like you, and there is no style in the template or on the component.

If the problem doesn't come from the library itself, might be something in my project. I will look into it then.

Thank you (you can close as this is a non issue)

[2020-07-21 09:36] #109 closed, assigned to nobody

[2020-07-21 19:01] localpcguy commented on #87
Sorry I haven't had time to look into this. I do think that sounds like a decent pattern. We've been "handling" it by setting A11y properties manually on the SVGs themselves in their code.

[2020-07-22 03:33] usamauzi commented on #108
Actually, this part of the code is being used in the ngoninit method. I am essentially trying to add some svg photos on a map using openlayers, and want to manipulate them to flash borders etc ( animate ).

[2020-07-22 04:45] czeckd commented on #108
What version of Angular are you using?

[2020-07-22 06:35] usamauzi commented on #108
<img width="361" alt="Annotation 2020-07-22 143518" src="https://user-images.githubusercontent.com/43025519/88142762-a2c81080-cc28-11ea-8eaf-d230263b7ec7.png">

[2020-07-22 07:24] czeckd commented on #108
Thanks. I've never attempted to use the component in the way that you're using it with `document.createElement`.  If you want to provide code for a full reproducer, I can take a look some more at it. I tried to come up with a workable example, but no luck on my part.

[2020-07-27 10:33] conradkirschner commented on #84
push

[2020-09-15 10:29] coonmoo opened #110 "Upgrade from 8.0.0 to 10.0.0 applyCss to applyClass broken"
We just upgraded from 8.0.0 to 10.0.0 and replaced all applyCss calls with applyClass.

`public userColor:string = 'red';`

`<svg-icon [class]="userColor" [src]="'./images/colors/'+userColor+'.svg'" [applyClass]="true"></svg-icon>
`

Result is now:
`<svg-icon _ngcontent-ctn-c172="" ng-reflect-src="./images/colors/red" ng-reflect-apply-css="true"><svg ....
`
Previous with 8.0.0 and applyCss it was

[2020-09-15 14:59] czeckd commented on #110
It seems to me you have a partially built app with the older version. Try rebuilding completely and/or removing your cached node_modules and then rerunning npm install and then rebuilding.

[2020-09-17 19:20] #110 closed, assigned to nobody

[2020-10-20 14:53] SiarheiBokuts opened #111 "Looks like [class] property doesn't work"
i tried to use it like
`<svg-icon name='travel' [svgStyle]="{ 'width.px':22, 'height.px':22 }" [class]="'test-class'"></svg-icon>`

and i can't see test-class on the svg-icon compoent.
![image](https://user-images.githubusercontent.com/22210892/96603837-17c8e600-12fd-11eb-8862-fce1b13d58fd.png)

but with normal class like class="test-class" it works

maybe it's because https://github.com/czeckd/an

[2020-11-15 00:59] baxelson12 commented on #111
You need to use [applyClass]="true"
`<svg-icon src="assets/home.svg" [applyClass]="true" class="fill-current w-6 h-6 text-gray-300"></svg-icon>`

[2020-11-27 10:44] eddiekoh opened #113 "Is there anyway to load default SVG when icon is not found?"
i'm loading my icon dynamically from API but sometime the API will change the icon name.

is it possible that i get an error event or  there is a wait to add fall back icon?

[2020-12-03 21:03] pjlamb12 opened #114 "Provide a Service that Loads Icons on App Initialization"
It would be nice to be able to have a list of icons loaded from a JSON file when the app initializes using the APP_INITIALIZER token.

I made this for a project I'm working on and it's really convenient to have a list of icons loaded automatically. You may not want to have too big of a list loaded when the app initializes, but it is a nice feature. It would be nice for it to be native to the packa

[2020-12-08 22:16] pjlamb12 commented on #114
I decided to publish the library externally from this one:

npmjs.com/package/angular-svg-icon-preloader

[2020-12-08 22:16] #114 closed, assigned to nobody

[2020-12-15 16:20] todorpavlovic commented on #84
Updates ?

[2020-12-17 06:49] czeckd commented on #84
@edulelis created an example project [demo-universal-angular-svg-loader](https://github.com/edulelis/demo-universal-angular-svg-loader).

[2020-12-17 12:10] todorpavlovic commented on #84
Thank you so much, we have great community here !

[2021-01-05 20:34] biziosan opened #115 "Icons with with 'clip-path' don't show correctly"
Hi,

I have the following icon:

[code]

It doesn't show correctly as it renders only the "overlay" path ("+") instead of   ![image](https://user-images.githubusercontent.com/25638864/103695765-2d988f80-4f6b-11eb-8321-9d4fad999336.png). If I remove 'clip-path' from the object "icon", it will be rendered again (without the empty space behind "overlay").

Is this a problem with the SVG file?

[2021-01-05 20:53] czeckd commented on #115
How does it behave outside of the `svg-icon` component if you just include it in a web page or load the file directly in a browser? Does it display correctly?

[2021-01-05 21:32] czeckd commented on #115
It seems to be a problem with the svg. If you reverse the order of the paths in the `clipPath` to be:
[code]

Then I believe it should work as you expect.

[2021-01-05 21:36] #115 closed, assigned to nobody

[2021-01-05 22:39] biziosan commented on #115
I have just tested it. It's a mix of behaviors. Browsers seem to behave like `svg-icon`. Windows preview works fine. So does Webstorm.

[2021-01-05 22:48] biziosan commented on #115
Also, changing the order of the two path doesn't effect the rendering.

[2021-01-06 00:42] czeckd commented on #115
It made a difference with loading it in the browser. If you can get the SVG to load correctly in a browser outside of the `svg-icon` component, then it will likely work with the component.

This is the changed SVG that loads correctly for me in Chrome:

[code]

[2021-01-06 11:31] biziosan commented on #115
Thank you. I tried your version and it seems to work with `svg-icon`. Also it works with Firefox, Edge. and Chrome. However, the effect is quite unexpected in my application(I am using Electron in my project). I changed a single icon (I have 5 with a similar structure), and all of them render correctly. Reversing the change in the single icon makes them all render with the defect.

[2021-01-15 13:00] ccocker opened #116 "'svg-icon' is not a known element:"
I have installed this package on angular v11.09 and get an error saying it is not an angular component.

**App Module**
[code]
Component
`<svg-icon src="miProject/assets/icons/icon_home.svg" ></svg-icon>`

[2021-01-15 17:47] czeckd commented on #116
I am unable to replicate the error you are seeing with `ng-version="11.0.9"` in a basic hello world type project.

Is this the error that you are seeing?
[code]

Are you using the svg-icon in a component in a sub-module? Did you import the package in the sub-module too? Like so:
[code]

[2021-01-16 05:46] ccocker commented on #116
You are absolutely correct, i missed that in the documentation.  It works beautifully.  Very Cool Package, very flexible - thank you.

Issue can be closed.

[2021-01-16 05:46] #116 closed, assigned to nobody

[2021-02-09 01:47] Andikki commented on #111
Simply putting `class` on `<svg-icon>` used to work in version 8.0.0, not in further versions.

Adding `[applyClass]="true"` doesn't quite work either - it puts the class on `<svg>` element, not the enclosing `<svg-icon>` element. In the end the effect is the same as using `svgClass` attribute.

According to documentation,

[applyClass] - An optional boolean (default is false) that works with [cla

[2021-02-09 07:30] czeckd commented on #111
@Andikki -

Using `class` on `<svg-icon>` seems to work for me, I do not understand why you state it cannot be set. Consider this example template using angular-svg-icon@11.0.0 and Angular 11:

[code]
With the following styles:
[code]
This produces:
![example](https://user-images.githubusercontent.com/17859320/107327967-d8b4d100-6a62-11eb-8aaa-33b628053f6f.png)

With the corresponding generated ma

[2021-02-09 19:23] Andikki commented on #111
I see. The code where `class` broke uses interpolation, like so:
[code]
In this case, with `someCalculatedValue` resolving to `1`, I should see the class `icon--1` on the `<svg-icon>`, but it doesn't happen.

I now see that simple cases with no interpolation work as intended.

[2021-02-10 05:51] czeckd commented on #111
@Andikki - Thanks! That was the clue I needed. A new version should be available shortly that hopefully will resolve this interpolated `class` issue on `svg-icon`.

[2021-02-10 18:34] vaindil opened #118 "Issue with class attribute in 11.1.0"
I just upgraded our project to 11.1.0, and it now fails at runtime. We have a lot of elements that look like this:

[code]

This worked correctly in previous versions, but now it fails with this error:

Looks like this is happening because of the change in #117, which is using [`Renderer2.addClass`](https://angular.io/api/core/Renderer2#addClass). That method only supports providing one class at a

[2021-02-10 23:46] czeckd commented on #118
Thank you for the bug report. This should be now resolved in v11.1.1.

[2021-02-16 04:57] #118 closed, assigned to czeckd

[2021-02-16 04:57] #111 closed, assigned to nobody

[2021-02-17 16:38] vaindil commented on #118
Sorry for the delay, looks like it's working. Thank you!

[2021-02-19 11:17] MickL opened #122 "input [class] only accepts one class"
If I see it right then `[class]` only accepts one string input but not multiple classes. For example the following is not working:

[code]

I would love to see `<svg-icon>` to either accept `string` with multiple classes, as shown above, OR accept `string | string[]`.

[2021-02-19 11:37] MickL opened #123 "Input `applyClass` does not take in account `[class.name]` and `[ngClass]`"
When `applyClass` using both `[class.name]` and `[ngClass]` are not applied:

[code]

Results in:

[code]

[2021-02-20 20:08] czeckd commented on #122
@MickL — just to confirm, this is not working for you in v11.1.2?

[2021-02-23 19:33] fynnfeldpausch commented on #87
@czeckd It would be really helpful to be able to set at least `aria-hidden` and `aria-label` on the SVGs. Using `aria-hidden` is a valid case if icons are for example used in buttons and are not needed as the button has a label.

[2021-02-24 03:55] czeckd commented on #87
@fynnfeldpausch - would something like attribute `svgAriaHidden` and `svgAriaLabel` on `svg-icon` then apply those to the loaded SVG as `aria-hidden` and `aria-label`? Or, would you want to use `aria-hidden` and `aria-label` on `svg-icon` and then apply those attributes on the SVG?

[2021-02-24 05:33] Serene47 opened #124 "Component has extra height"
I am using `svg-icon` 10.0.0 for loading a 24 * 24 `svg`

but when it loads the `svg` element has the same height and width but `svg-icon` component has a height of 29 px, and this makes my alignments go wrong.

Relevant screenshot is attached

![Screenshot from 2021-02-24 11-01-16](https://user-images.githubusercontent.com/24951939/108952617-cb692a80-768f-11eb-9319-1ccd972015ce.png)

[2021-02-24 06:12] czeckd commented on #124
It is looks like the font-size or possibly line-height used with the back button is interfering.  To confirm this, see if the 'extra height' happens if the `svg-icon` is used outside of your button mark-up.

You can explicitly set the height of the SVG in the `svg-icon` inside the button by doing something like the following:

[code]

[2021-02-24 06:14] fynnfeldpausch commented on #87
Either option is fine for me. The first one is the one that I would have expected, but don't know what API you have in mind.

You could also just use one attribute for the label and apply aria-hidden by default if no attribute is given. I think this is what Angular Material does as well. But that's certainly the more complex solution as you would have to check if the SVG source not already defines

[2021-02-24 06:16] czeckd commented on #124
Yes, it is the font-size. The `svgStyle` isn't needed. Since the SVG is a 24x24 if you hover over the `svg`. The `svg-icon` is getting its height from the line-height set by the font.

[2021-02-24 06:40] Serene47 commented on #124
Thanks for the quick reply

I have previously replaced `svg-icon` with pure `svg` , and now added it back, but this time very different result, width changed to 32 and height remained 29

![Screenshot from 2021-02-24 12-04-27](https://user-images.githubusercontent.com/24951939/108958383-e7bd9500-7698-11eb-87bb-176406e960fe.png)

I applied line-height to 1 but for both `button` and `svg-icon`  , bu

[2021-02-24 07:50] czeckd commented on #124
The size of `svg-icon` is determined by the button's font-size. The size of `svg-icon` is not the size of the `svg` it loads. To confirm this hover over the `svg` element inside the `svg-icon`.

If you want to explicitly set the height of the `svg-icon` to be 24px, you will need to adjust its style. For example, this might work:
[code]
That said, the alignment isn't being caused by `svg-icon`, it

[2021-02-24 09:00] czeckd commented on #87
I'm looking over at Angular Material for what they're doing with icons and how I'm interpreting their response is the icons are mostly decorative. Thus the default is `aria-hidden=true`, which can be overridden.

Experimenting with setting an `aria-label` on the `svg-icon`, it sounds like the label is duplicated on both the `svg-icon` and then the SVG. This seems like the wrong approach to me. The

[2021-02-24 11:07] fynnfeldpausch commented on #87
Sounds perfect to me 👍

[2021-02-25 08:29] czeckd commented on #87
The `svgAriaLabel` discussed above is now released in angular-svg-icon@11.2.0. Please let me know how it works out for you.

[2021-02-25 18:18] setianke commented on #106
@czeckd @ihor-zinchenko

I was facing the same issue and tested a lot, the issue is caused by the view encapsulation, for me a quick work around was adding `::ng-deep`  before my css class/selector like `::ng-deep .svg-class` the issue only occurs when the styles for the class is inside a view encapsulated component. Maybe the view encapsulation strategy for the svg-icon component could be changed

[2021-02-25 20:28] czeckd commented on #106
@setianke - You are welcome and thank you for diving deep into this. Any ideas on how you'd change the view encapsulation. My first thought is that it might introduce more issues.

[2021-02-25 20:30] czeckd commented on #122
I made some changes that should help with `string[]` in angular-svg-icon@11.2.0. Please let me know if that takes care of your issue.

[2021-03-05 08:19] #122 closed, assigned to nobody

[2021-03-16 09:33] tsavo-vdb-knott opened #126 "Security & Performance/Implementation - DomSanitizer&SafeResourceUrl + Fetch vs HTTPClient"
@czeckd Thanks for the wonderful library my friend!

Quick question per @johanchouquet's thought:

Is there any security to be concerned about in your library when not using those angular resource/DOM cleaners. I also am wondering if there is a way for this to be used without HTTP Client and just through the native Fetch API? If that was the case, given the HTTP Client may do some type of DomSanit

[2021-03-19 05:40] czeckd commented on #126
First off, I am not a security expert so take my answer with that in mind. For anyone who wants true recommendations, here's [Angular's Security Guide](https://angular.io/guide/security).

I omitted the DomSanitizer/SafeResourceURL from the design because it wasn't needed for my purposes when I built the library since I the SVG paths I was using were trusted and not user injectable. It may be need

[2021-04-20 17:40] cartifon opened #128 "Register SVG from CDN"
Hi guys.

I have a project where I can't have any assets on it, so my assets are in a CDN, and I would like to register my SVG icons using the CDN URL, but it does not accept to get from a CDN.... How would I do that?

I am using the version "angular-svg-icon": "~9.2.0".

I tried to add the icons using sanitize, and it didn't work, this is what I did:

[code]

Any idea on how to register SVG from

[2021-04-20 18:24] czeckd commented on #128
It looks like this is a typo from your example:
[code]
and, you probably meant to do:
[code]
but, in theory that should work.

Is the SVG fetch being blocked by the browser's CORS policy? Are you seeing something like this in the console:
[code]
Or something else?

[2021-04-20 18:37] cartifon commented on #128
Thanks for the super fast answer @czeckd, sorry about the typo, I meant to paste the code where the trustedUrl, but even with that it does not work.

In the console, when I pass the trustedUrl I get this error:
![image](https://user-images.githubusercontent.com/7103578/115446870-cfc04880-a1e5-11eb-8681-1af6c5b865ab.png)

and for the CORS policy, I didn't get any error like that, I can use the CDN

[2021-04-20 18:53] czeckd commented on #128
Yes, I get a similar error after the CORS failure using a trusted URL or not.

For example, when I substitute your CDN's SVG URL with a URL of a SVG from wikimedia.org, such as
`https://upload.wikimedia.org/wikipedia/commons/e/e6/Elephant-2.svg`, the load works.

Please look in the Network tab and see what the status of the GET on the footer-logo.svg is. My hunch is it is a CORS error.

[2021-04-20 18:59] cartifon commented on #128
Thanks, yes, it does get the CORS on the network... That's why it is a Unknown Error I think... Thanks man, I will double check the server for the SVGs.

[2021-04-20 19:21] #128 closed, assigned to nobody

[2021-05-07 10:56] MickL commented on #84
Cant this be closed? There is this documentation: https://github.com/czeckd/angular-svg-icon#usage-with-angular-universal

[2021-05-11 07:27] Serene47 commented on #124
It's been sometime after I opened the issue,

I recently was able to remove the extra height from `svg-icon` by setting this  CSS rule in the global stylesheet
`svg-icon svg {
  vertical-align : middle;
}`

[2021-05-19 11:26] somasekhar233 opened #129 "Click functionality on the svg is not working"
Hi, using angular 7 and respective version angular-svg-icons and loading  SVG through the loadSVG function after that event listeners are not working on the svg.not able to catch the click events of svg elements

[2021-05-24 06:39] #129 closed, assigned to nobody

[2021-05-24 06:39] somasekhar233 commented on #129
changedetection ref detection changes and time out helped me

[2021-05-25 08:03] #84 closed, assigned to nobody

[2021-05-25 08:04] #126 closed, assigned to nobody

[2021-05-25 08:05] czeckd commented on #69
See #126 for security follow-up.

[2021-05-25 08:05] #69 closed, assigned to nobody

[2021-05-25 08:05] #87 closed, assigned to nobody

[2021-05-25 08:06] #124 closed, assigned to nobody

[2021-06-01 13:05] Voxen opened #130 "Styling <svg-icon> element impossible?"
Appyling CSS styles on the `<svg-icon>` element doesn't seem to work.

In my app I do something like:

HTML:
[code]

CSS:
[code]

But at runtime the `<svg-icon>` element gets a size of 24 x 17 instead of 24 x 8.
Using chrome dev tools I can see that nothing overrides the CSS settings, so I don't understand why the element don't get the style I apply to it.

[2021-06-01 15:51] czeckd commented on #130
@Voxen
What version of Angular and angular-svg-icon are you using?
Did you try apply the width and height directly using `svgStyle`? Did you try applying the style directly using `svgClass`? Did you try using `stretch` on the svg?
Can you post the svg? Or, confirm it does not have a width and height set on it?

[2021-06-02 09:20] Voxen commented on #130
Thanks for your reply.
Meantime I was able to set the size adding "display:block" to the .icon class.

[2021-06-03 00:49] #130 closed, assigned to nobody

[2021-07-23 18:20] RRGT19 opened #131 "ERROR No svg with name 'xxxx' has been loaded with Angular SSR"
Angular CLI: 11.2.10
Node: 14.15.5
OS: darwin x64
Angular: 11.2.11
Ivy Workspace: Yes
--------

I'm using the [angular-svg-icon-preloader](https://github.com/pjlamb12/angular-svg-icon-preloader) to load my icons.
I have read and followed the "[Usage with Angular Universal](https://github.com/czeckd/angular-svg-icon#usage-with-angular-universal)" to make it work with SSR. I followed and copy the im

[2021-07-26 11:26] antoniosuteu opened #132 "Edit svg text at runtime"
I need to change the text of some svg at runtime.
I can't seem to access the svg inside the <svg-icon> container because it is private.

`
<svg xmlns="http://www.w3.org/2000/svg">
	...
	<text id="beginner" fill="#212121">text to change</text>
	...
</svg>
`

`
document.getElementById("beginner").textContent = "My Value";
`

[2021-07-27 08:28] icorne opened #133 "Empty classes being added cause a crash"
if you add a whitespace too much in your classes you want added, you'll get a crash

https://github.com/czeckd/angular-svg-icon/blob/1790114e5f1b0173e0741212d3fb2d5e350b3822/projects/angular-svg-icon/src/lib/svg-icon.component.ts#L269

Should check for any empty classes

[2021-07-28 06:44] czeckd commented on #133
@icorne : I'll update this issue when I get a release built with this fix. Thank you!

[2021-07-28 06:51] czeckd commented on #132
Rather than using this angular-svg-icon, the [svg as an Angular template](https://angular.io/guide/svg-in-templates) may be a better approach for what you're trying to achieve.

Generally modern Angular apps don't mix the type of direct manipulation of the DOM like you're doing. It might be possible to do this via [Renderer2](https://angular.io/api/core/Renderer2).

[2021-07-28 06:55] czeckd commented on #131
It might be better to redirect this issue to [angular-svg-icon-preloader](https://github.com/pjlamb12/angular-svg-icon-preloader) project and ask about how it works with SSR.

[2021-07-28 13:11] RRGT19 commented on #131
I have posted the issue there, didn't know how to redirect or place the issue there without copy/paste the description. I think we can close or delete this post to avoid confusion and duplicates.

[2021-07-29 22:22] #131 closed, assigned to nobody

[2021-08-12 11:06] indraraj26 opened #135 "not able to change fill color"
Hi Team,

We are using 12.0.0 of Angular svg icon with Angular 12.1.0.

[code]

svg1 : https://svgshare.com/i/_82.svg
svg2 exported via illustrator: https://svgshare.com/i/_6W.svg
svg3 internal css : https://svgshare.com/i/_7D.svg
svg4 generated in xd without outlinestroke: https://svgshare.com/i/_6M.svg

Please let me know where is the actual issue.

[2021-08-12 12:55] indraraj26 opened #136 "svg icon classes/id conflicts"
if you have same id in other svg then the second one will not display.

Is there anyway to force svg to have unique id (via encapsulation)

svg1: https://svgshare.com/i/_7P.svg
svg2: https://svgshare.com/i/_6v.svg

[2021-08-12 15:50] czeckd commented on #136
No, see the open issue #73. Creating unique ids is a requested enhancement that I've not had time to implement as of yet.

[2021-08-12 16:31] czeckd commented on #135
If it were my code, I would get rid of the #fill color (and the width and height tags) in the svg and use only external css to give it styling: size and color. So for svg1, I would modify it to be:

[code]

Then in the template:
[code]

And in the scss:
[code]

![Screen Shot 2021-08-12 at 9 35 03 AM](https://user-images.githubusercontent.com/17859320/129234432-2bc2abcd-8852-4938-94bc-fdb8a39f7750.

[2021-08-12 18:15] indraraj26 commented on #136
I checked #73 but still it is hacky way and you will have to do it for all svg which is quite lot of works.

Btw overall this is really great package. I appreciate your efforts to maintain this package.

I was also thinking how we can give unique id to path, g, clipath is also there. We might need to find the way to encapsulate each svg-icon component just like angular does it with viewEncapsulati

[2021-08-12 18:21] indraraj26 commented on #135
Thanks for quick response. I loved it, the way how you solved it.

[2021-08-12 18:21] #135 closed, assigned to nobody

[2021-08-12 18:37] indraraj26 commented on #123
I think we can read it through this.el.nativeElement.classList then just pass it down to this.setClass

[2021-09-01 09:36] lhf552004 opened #137 "How to bind click event to the element in SVG"
Hi I tried to get the svg element by elementRef.
`@ViewChild('container', {read: ElementRef}) containerElement: ElementRef;`
And in the html:
`<svg-icon #container [src]="'assets/svgs/'+ line.name + '.svg'" [stretch]="true" [viewBox]="'auto'"></svg-icon>`
However, I could not get svg by the following code
[code]
When debugging, I found the children's count is 0 for the native element (svg-icon)
Co

[2021-09-01 18:20] czeckd commented on #137
I would do it like this:

[code]

[code]

[2021-09-02 01:18] lhf552004 commented on #137
@czeckd Thanks, it works. But can I access the element when initialize? I mean in the ngOnInit or ngOnChanges, how can I initialize or update the status of the elements?

[2021-09-02 09:24] czeckd commented on #137
I do not understand what you're trying to do, since with Angular you wouldn't be manipulating the DOM so directly. But if you need to access the loaded SVG, then you could do something like this:

[code]

It is less than ideal since it needs an arbitrary amount of time, in this example 250 ms, to wait for the loading of the actual svg.

If you need to manipulate the svg, then you should consider u

[2021-09-03 09:11] lhf552004 commented on #137
Thanks, your solution works. SVG as templates cannot be suitable for my project, as the svg is dynamic loaded.

[2021-09-03 09:27] #137 closed, assigned to nobody

[2021-09-20 06:59] Teebo commented on #136
@indraraj26 you can try this package: https://www.npmjs.com/package/ngx-svg-schematic

[2021-11-05 08:00] czeckd commented on #133
Released in v13.0.0.

[2021-11-05 08:00] #133 closed, assigned to nobody

[2022-02-17 06:51] KurienEapen commented on #86
I'm also going through a similar scenario. I came up on this suggestions, to modify angular.json :

"assets": ["src/favicon.ico", "src/assets",
  {
    "glob": "**/*",
    "input": "./node_modules/some-package/assets",
    "output": "/assets/"
  }
]

But I don't want to copy over the assets of my library to the parent application. Is there any other work around ?

[2022-04-06 13:24] gopal-augment commented on #82
[](https://github.com/czeckd/angular-svg-icon/issues/82)I'm facing the same issue. But how it is working in the img tag?

[2022-04-11 08:28] kuncevic commented on #136
You can save the svg's rather with unique classes names or inline styles, that would fix that problem

[2022-06-13 12:00] kuncevic opened #141 "Support for Angular 14"
Not compatible with Angular 14

[2022-06-13 19:01] czeckd commented on #141
I was able to add this package to a new ng14 project and it ran without issue. Please provide me more details on what is incompatible with angular-svg-icon@13.0.0 and Angular 14, so I can resolved it before I bump the version. Thanks!

[2022-06-14 02:46] kuncevic commented on #141
@czeckd yeah it seems working if I use `--force` flag, the app builds, no errors, just got a dependency conflict running yarn, that is all.

[2022-06-14 04:22] czeckd commented on #141
@kuncevic Okay, then a simple version bump should take care of it. I didn't see an issue with my simple test project using npm. Thanks!

[2022-06-16 07:17] #141 closed, assigned to czeckd

[2022-06-16 07:23] czeckd commented on #141
@kuncevic - v14.0.0 deployed on npm.

[2022-06-21 17:16] midlantica commented on #116
I've tried all the advice... still not working.. Angular 13, very simple setup, followed above.. tried with AngularSvgIconModule.forRoot() and without forRoot().. Pls tell me what top do!
![image](https://user-images.githubusercontent.com/1449595/174859017-2c013f98-2c89-4e87-88bf-fb49ad06df16.png)

[2022-06-22 03:46] czeckd commented on #116
@midlantica - Can you share your source? I don't have a guess what the issue is.

[2022-11-21 10:15] jerone opened #143 "Angular 15 support"
Will this package support Angular 15.

[2022-11-21 10:42] czeckd commented on #143
@jerone Yes, sometime this week.

[2022-11-22 04:04] #143 closed, assigned to czeckd

[2022-11-22 04:08] czeckd commented on #143
@jerone Published now.